<!DOCTYPE html>
<html lang="es-ar" class="notranslate">
  <head>
      <meta name="google" value="notranslate" />
      <meta charset="UTF-8" />
      <meta http-equiv="Content-Language" content="es-ar" />

      <title>DecoHomeLP</title>
      <!-- Hector Romero -->
      <!-- hector22x@gmail.com -->
      <!-- Version 0.1.0 -->

    <meta name="author" content="Hector Romero - hector22x@gmail.com">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta itemprop="image" content="assets/dhlogo.png">
    <link rel="apple-touch-icon-precomposed"  href="assets/dhlogo.png">
    <link rel="shortcut icon" href="assets/dhlogo.png">

    <link rel="stylesheet" href="assets/main.css">

    <script type="text/javascript">var onLoad = function(){App.onLoad()}</script>


  </head>

  <body onload='onLoad()'>
  <script type="text/javascript" src="assets/main.js"></script>
  <div data-role="page" class="mainPage">
      <div data-role="header"><span class="logo">Deco Home LP</span><br/><span class="title">Catálogo Oficial</span></div>
      <div data-role="content">
          <span class="hereToAvoidGoogleTranslate" style="position:fixed;font-size:0px">Clicl</span>
          <div id="mybook" style="display:none;margin-top:2%">
          <div><img src="assets/catalogo/1.png"></div>
          <div><img src="assets/catalogo/2.png"></div>
          <div><img src="assets/catalogo/3.png"></div>
          <div><img src="assets/catalogo/4.png"></div>
          <div><img src="assets/catalogo/5.png"></div>
          <div><img src="assets/catalogo/6.png"></div>
          <div><img src="assets/catalogo/7.png"></div>
          <div><img src="assets/catalogo/8.png"></div>
          <div><img src="assets/catalogo/9.png"></div>
          <div><img src="assets/catalogo/10.png"></div>
        </div>
      </div>
      <div data-role="footer" class="footer">
          <!--<a data-rel="external" class="fcLink btnContact" target="_blank" href="http://www.facebook.com/decohomelp" title="Nuestro Facebook">-->
              <!--<img class="footerIcon"src="assets/facebook-logo.png">-->
          <!--</a>-->
          <a class="btnFc fcLink" href="#facebook" title="Nuestro Facebook" data-ajax="false">
              <img class="footerIcon"src="assets/facebook-logo.png">
          </a>
          <a class="btnContact" href="#contacto" title="Contacto" data-ajax="false">
              <img class="footerIcon"src="assets/contact.png">
          </a>
      </div>
      <div class="popup contactPopup" data-role="popup" data-theme="e" data-overlay-theme="a">
          <div class="popupContent">
              <p class="infoMain">
                  <img class="contactLogo"  src="assets/dhlogo.png"><br/>
                  <span class="left">Contacto:</span>
                  <br/>
              </p>
              <p class="info name">
                  Lorena Ponce
              </p>
              <p class="info">
                  Tel: 15-57953602
              </p><p class="info">
                  E-mail: decohome_lp@hotmail.com
              </p><p class="info facebook">
              Facebook: <a data-rel="external" class="fcLink noUnderline" target="_blank" href="http://www.facebook.com/decohomelp" alt="Nuestro Facebook">
                        <img class="fcLogo"src="assets/facebook-logo.png">&nbsp;<span class="logo">Deco Home LP</span></a>
              </p>
              <a data-role="button" class="cancel" data-rel='back' data-theme="a">Cerrar</a>
          </div>
      </div>

  <div class="popup fcPopup" data-role="popup" data-theme="e" data-overlay-theme="a">
    <div class="popupContent">
        <div class="fcFrame" style="max-height:558px">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fdecohomelp&amp;width=420&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:420px; height:558px;" allowTransparency="true" style="width:100%;height:100%"></iframe>
        </div>
        <a data-role="button" class="cancel" data-rel='back' data-theme="a">Cerrar</a>

    </div>
  </div>
</div>


  </body>
</html>