<!DOCTYPE html>
<html>
  <head>
    <title>DecoHomeLP</title>
    <!-- Version 0.3.0 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed"  href="assets/favicon.png">
    <link rel="shortcut icon" href="assets/favicon.png">

    <link rel="stylesheet" href="assets/main.css">

    <script type="text/javascript">var onLoad = function(){App.onLoad()}</script>
    <script type="text/javascript" src="assets/main.js"></script>



  </head>


  <body onload='onLoad()'>
  <div data-role="page">
      <div data-role="header"><span class="logo">Deco Home LP</span><br/><span class="title">Catalogo Oficial</span></div>
      <div data-role="content">
        <div id="mybook" style="display:none;margin-top:2%">
          <div>
              <img src="assets/catalogo/1.png">
          </div>
          <div>
              <img src="assets/catalogo/2.png">
          </div>
          <div>
              <img src="assets/catalogo/3.png">
          </div>
          <div>
              <img src="assets/catalogo/4.png">
          </div>
              <div>
              <img src="assets/catalogo/5.png">
          </div>
          <div>
              <img src="assets/catalogo/6.png">
          </div>
          <div>
              <img src="assets/catalogo/7.png">
          </div>
          <div>
              <img src="assets/catalogo/8.png">
          </div>
          <div>
              <img src="assets/catalogo/9.png">
          </div>
          <div>
              <img src="assets/catalogo/10.png">
          </div>
      </div></div>
      <div data-role="footer" class="footer"><a data-rel="external" class="fcLink" href="http://www.facebook.com/decohomelp" alt="Nuestro Facebook">
          <img class="fcLogo"src="assets/facebook-logo.png"></a>
      </div>
  </div>

  </body>

  </body>
</html>