<!DOCTYPE html>
<html>
  <head>
    <title>DecoHomeLP</title>
    <!-- Hector Romero -->
    <!-- hector22x@gmail.com -->
    <!-- Version 0.1.0 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed"  href="assets/dhlogo.png">
    <link rel="shortcut icon" href="assets/dhlogo.png">

    <link rel="stylesheet" href="assets/main.css">

    <script type="text/javascript">var onLoad = function(){App.onLoad()}</script>
    <script type="text/javascript" src="assets/main.js"></script>

  </head>

  <body onload='onLoad()'>
  <div data-role="page" class="mainPage">
      <div data-role="header"><span class="logo">Deco Home LP</span><br/><span class="title">Catálogo Oficial</span></div>
      <div data-role="content">
        <div id="mybook" style="display:none;margin-top:2%">
          <div><img src="assets/catalogo/1.png"></div>
          <div><img src="assets/catalogo/2.png"></div>
          <div><img src="assets/catalogo/3.png"></div>
          <div><img src="assets/catalogo/4.png"></div>
          <div><img src="assets/catalogo/5.png"></div>
          <div><img src="assets/catalogo/6.png"></div>
          <div><img src="assets/catalogo/7.png"></div>
          <div><img src="assets/catalogo/8.png"></div>
          <div><img src="assets/catalogo/9.png"></div>
          <div><img src="assets/catalogo/10.png"></div>
        </div>
      </div>
      <div data-role="footer" class="footer">
          <a data-rel="external" class="fcLink" href="http://www.facebook.com/decohomelp" title="Nuestro Facebook">
              <img class="footerIcon"src="assets/facebook-logo.png">
          </a>
          <a class="btnContact" href="#contacto" title="Contacto" data-ajax="false">
              <img class="footerIcon"src="assets/contact.png">
          </a>
      </div>
      <div class="popup" data-role="popup" data-theme="e" data-overlay-theme="a">
          <div class="popupContent">
              <p class="infoMain">
                  <img class="contactLogo"  src="assets/dhlogo.png"><br/>
                  <span class="left">Contacto:</span>
                  <br/>
              </p>
              <p class="info name">
                  Lorena Ponce
              </p>
              <p class="info">
                  Tel: 15-57953602
              </p><p class="info">
                  E-mail: decohome_lp@hotmail.com
              </p><p class="info facebook">
              Facebook: <a data-rel="external" class="fcLink noUnderline" href="http://www.facebook.com/decohomelp" alt="Nuestro Facebook">
                        <img class="fcLogo"src="assets/facebook-logo.png">&nbsp;<span class="logo">Deco Home LP</span></a>
              </p>
              <a data-role="button" class="cancel" data-rel='back' data-theme="a">Cerrar</a>
          </div>
      </div>
  </div>

  </body>
</html>